* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    max-width: 1000px;
    margin: auto;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 70%;
}

.nav img {
    max-width: 150px;
    height: 70%;
    max-height: 40px;
    padding: 0;
}

#imagen {
    padding: 0;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu-horizontal li {
    position: relative; /* Añadido para que el submenú se posicione correctamente */
}

.menu-horizontal li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

.menu-horizontal li:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.menu-vertical {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%; /* Posicionado debajo del elemento principal */
    left: 0;
    list-style: none;
    background-color: black;
    padding: 10px 0;

}
.menu-vertical li {
    display: block;
    padding: 0em;
    color: white;
    text-decoration: none;
    text-align: left;
    background-color: antiquewhite;
}

/* Mostrar el menú vertical cuando se hace hover en el elemento principal */
.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.login-button {
    padding: 10px 15px;
    background-color: #ffffffc9; /* Cambia el color de fondo según tu preferencia */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
    text-decoration: none; /* Asegúrate de que no haya subrayado */
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.204);
    color: white;
}

